@import "bootstrap";

$grayMediumLight: #eaeaea;
$gray: #555 !default;
$grayLight: #999 !default;
$grayDarker: #222 !default;

/* Static Navbar Full-Width */
.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* footer */

#footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
    margin-left: -15px;
  }
}